/* CSS Document */

* {
	padding:0px;
	margin:0px ;
}

br {
	margin:0 ;
	padding:0;
}

body {
	height: 74px ;
	border-top : 5px solid #000 ;
}

br {
	clear: left;
}

a{
	color:#333 ;
	text-decoration:none ;
}
a:hover {
	color:#333 ;
	text-decoration:underline ;
}

#tupload , #tregister
{
	font:normal 14px Arial, Helvetica, sans-serif;
	background:#F5F3F2;
}

table {
	font:normal 11px Verdana ,Arial, Helvetica, sans-serif;
}


#tlist td {
}

#tlist td {
	padding-left:5px;
	padding-bottom:10px;
	padding-top:10px;	
}

#tregister td , #tupload td {
	padding-bottom:8px;
}

#toolbar 
{
	background:#fff ;
	padding: 5px ;
}

.column-title
{
	font:bold 15px Arial, Helvetica, sans-serif;
	background:#5E738E ;
	color:#fff ;
	border-bottom: 2px solid #000 ;
}

.column-label{
	text-align:right;
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	padding-right:10px;
	line-height:3em;
	margin:0;
}
.row1{
	background-color:#F5F3F2;
}
#container{
	background:#fff url(../images/adinm-h1-bg01.jpg) 0 0 repeat-x ;
}
#head {
	position:relative ;
	margin:0; 
	top:0; 
	left:0; 
	width:100%; 
	height:70px; 
	background : #46AAD3 ;
	background-position:0 0; 
	overflow:hidden; 
	color:#fff;	
	margin-bottom:5px ;
	font:normal 12px Arial, Helvetica, sans-serif;

	background:url(../images/header_03.jpg) 0px 0px no-repeat ;
	width: 460px ;
	height: 70px ;
	position:relative;
}

#head h1 {
	padding-top :20px;
	padding-left: 5px ;
}

#head h1 span 
{
	display:none ;
}

#menu {
	width:200px; 
	float:left; 
	position:relative; 
	margin-left:-200px; 
}

#outer { 
	border-left:solid 200px #fff;  /* color of the left column  */ 
	background-color: #fff; 
} /* color of the content column */

#inner {
	margin:0px; 
	width:100%; 
	top:0px;
} /* The ie/pc pecularity */ 

.nav-head
{
	float:left ;
	position:relative;
	margin:0;
	font: bold 22px Arial, Helvetica, sans-serif ;
}


#nav 
{
	list-style:none ;
	margin: 0 ;
	padding: 0 ;
	text-decoration: none ;
	font:normal 13px Arial, Helvetica, sans-serif ;
}

#nav li a.current {
	background:#F2A72A ;
	background:#333 ;
	display:block ;
	color:#fff ;
	border-bottom:1px solid #000;
}

#nav li a 
{
	display: block ;
	width: 187px;
	padding: 7px ;
	color: #333 ;
	background: #EEE9E3 ;
	padding-left: 5px ;
	text-decoration: none ;	
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;	

}

#nav li a:hover  {
	width: 187px;
	background:#F2A72A ;
	background:#333 ;
	display:block ;
	color:#fff ;
}

#navcontainer {
	background-color:#D2E695;	
	font:bold 13px Arial, Helvetica, sans-serif ;  
	border:1px solid #fff ;
}


#navcontainer ul {
	margin:0;
	padding:0;
	list-style: none;
	float:left;	
	background-color:#eee;	
	width:100%;
	border-bottom:1px solid #636363;
}

#navcontainer ul li {
	display:inline;
	float:right; 
	padding: 0.2em 1em;
}

#navcontainer ul li a {
	text-decoration:none;
	padding: 0.2em 1em;
	float:left;
	color:#000;
}
#navcontainer ul li a.active {
	background-color:#fff;
}

#navcontainer ul li a:hover {	
	background-color:#fff;
}

#container {
	width:100% ;
	padding:0px;
	margin: 0px;
}
#content {
	position:relative ;
	margin:0px ;
}
#footer {
	position:relative ;
	border-top: 4px solid #333 ;
	background: #801D1D ; 
	margin:0; 
	bottom:0; 
	left:0; 
	width:100%; 
	height: 100px; 
	font-size:1em; 
}

#footer h1 
{
	margin:0 ;
	text-align:center;
	color:#fff !important;
	font:normal 14px Arial, Helvetica, sans-serif;
}

.cap1 {
	font:normal 20px Arial, Helvetica, sans-serif;
	background:#5E738E;
	border-bottom:2px solid #6E1742 ;
	padding:2px;
	color:#fff ;
}
.clear {
	clear:both ;
}
.pad5{
	padding-bottom:5px ;
}

.refresh-button
{
	border:1px outset #333 ;
	color:#fff ;
	background:#FF9000 ;
	font:normal 20px Arial, Helvetica, sans-serif;
	text-align:center;
}

.formbutton
{
	/*border-top: 1px solid #eee; 
	border-left : 1px solid #eee;
	border-bottom:1px solid #333 ;
	border-right: 1px solid #333 ;*/
	font:normal 18px Arial, Helvetica, sans-serif;
	color:333 ;
	background: #eee ;
}

.formbutton:focus
{
	background:#ccc ;
}

.formtextfield {
	border:1px solid #ccc;
	padding:3px;
}

.passwordfield {
	font:normal 17px Verdana, Arial, Helvetica, sans-serif;
}

.confirm-message
{
	padding: 10px ;
	padding-bottom: 10px ;
	background: #10A5BC ;
	border:1px solid #333 ;
	margin-bottom: 10px ;
	
}
.confirm-message h1
{
	font:normal 23px Arial, Helvetica, sans-serif; 
	text-align : left ;
	padding-left: 20px;
	color:#fff ;
}

.pagelinks , .pagelinks a {
	background:#5E738E;
	border-top:3px solid #333;
	color:#fff;
}
.redtxt {
	color:#FF0000 ;
}
.blacktxt {
	color:#669966 ;
}

/* status */
.paint-accepted
{
	color:#669966;
}

.paint-approval
{
	color:#FF00FF;
}

.paint-reject{
	color:#FF0000;
}

.under-line
{
	text-decoration:underline ;
	color:#0085BD ;
}

/* priority */

.pnormal
{
	color:#000066 ;
}

.phigh
{
	color:#DD0000 ;
}

.ruled
{
	background:#eee ;
}

.fieldset01
{
	padding:7px;
	border:1px solid #ccc ;
	margin-bottom:10px;
}