/* CSS Document */

* {
	margin:0;
}
body{
	background:#FEFEEF ;
	font:normal 14px Arial, Helvetica, sans-serif;

}
#lostpassword-form
{
	width:309px;
	padding:20px;
}

#lostpassword-form h1
{
	background:url(../images/lyp-h1_60.jpg) 0 0 no-repeat ;
	height:69px;
	padding:5px;
}

#lostpassword-form h1 span
{
	display:none ;
}

.submit input{
	background:url(../images/button-bg_61.jpg) ;
	color:#726F4B;
	border:2px double #9E9E9E;
	font-size: 17px;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:3px;
	line-height:1em;
}
.submit input:active  {
	background: #DBDBC3;
	border: 2px double #ccc;
	border-left-color: #999;
	border-top-color: #999;
}

.inputfield
{
	border:2px solid #ccc;
	background-color:#FFFFF7;
	font:normal 18px Verdana, Arial, Helvetica, sans-serif;
	padding:3px;
	margin-bottom: 7px;

}
